.main-container{
  margin-left: 10rem;
  margin-right: 10rem;
}
.App{
  display:grid;
  grid-template-columns: 1fr 1fr; 

}
.main-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}